<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>share</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="not-found">
		<img src='/404-eat.jpg' />
	</div>
</body>

</html>