<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>share</title>
	<style>
		body{
			background: #fff;
		}
		.not-found {
			width: 100vw;
			height: 100vh;
		}
		.not-found img {
			width: 100%;
		}
	</style>
</head>

<body>
	<a href="/" title='返回首页'>
		<div class="not-found">
				<img src='/server-404-eat.jpg?static=1'/>
		</div>
	</a>
</body>

</html>