    /*flex  */

    .flex-row {
        display: -webkit-box;
        display: flex;
        flex-direction: row
    }

    .flex-column {
        display: -webkit-box;
        display: flex;
        flex-direction: column
    }

    .align-center {
        align-items: center;
    }

    .self-start {
        align-self: flex-start;
    }

    .self-base {
        align-self: baseline
    }

    .flex {
        flex: 1;
    }

    .upload {
        display: block;
        height: 43px;
        line-height: 43px;
        width: 150px;
        border: 1px solid #cacbcc;
        text-align: center;
        margin: 5px auto 5px;
        position: relative;
    }

    .upload:hover {
        border-color: #317ef3;
    }

    .select-btn {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .upload>span {
        display: inline;
        position: static;
    }

    .upload-btn {
        background-color: #38f;
        color: #fff;
        height: 35px;
        line-height: 35px;
        width: 100px;
        border: none;
        font-size: 15px;
        font-weight: 500;
        vertical-align: top;
    }

    .upload-btn:hover {
        background-color: #317ef3;
    }

    .upload-btn:active {
        background-color: #3075dc;
    }

    #reset {
        box-sizing: border-box;
        border: 1px solid #38f;
        color: #38f;
        background-color: #fff;
    }

    #reset:hover {
        background-color: #317ef3;
        color: #fff;
    }

    .files a {
        text-decoration: none;
        color: #4C9541
    }

    .files a {
        text-decoration: none;
    }